/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mei-2016, 17:19:15
    Author     : karelwinderickx
*/

#checkoutTopBox {
    height: 70px;
    width: 100%;
    float: top;
    background: #C5C9A4;
}

#checkoutLeftMidColumn {
    height: 350px;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    background: #F5EDCC;
}

#checkoutRightMidColumn {
    height: 380px;
    width: 45%;
    float: left;
    background: #C5C9A4;
}

#checkoutRightMidTopBox {
    height: 40%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    background: #C5C9A4;
}

#checkoutRightMidBottombox {
    height: 45%;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-left: 10%;
    float: left;
    background: #7EB09B;
}